.container {
  display: flex;
  height: 90%;
  width: 100%;
  margin-top: 2%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.edit-section {
  width: 25%;
  border-right: 2px dotted black;
}

.edit {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  gap: 10px;
  margin: 15px;
  padding: 15px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  transition: 0.25s ease-in-out;
}

.editflex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit:hover {
  transform: scale(1.1);
}

h4 {
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .edit-section {
    width: 100%;
    border-right: 0px;
    border-bottom: 2px dotted black;
  }
}

textarea {
  resize: none;
  font: inherit;
  font-size: 13px;
  height: 100px;
}

.button {
  text-align: right;
}

button {
  color: black;
  border-radius: 5px;
  font: inherit;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.add {
  background: rgb(167, 255, 167);
  font-size: 16px;
  width: 10%;
}

.delete {
  background: rgb(255, 91, 91);
  font-size: 13px;
  width: 8%;
}

button:hover {
  transform: scale(1.15);
}
