/* .container {
  display: flex;
  height: 90%;
  width: 100%;
} */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-section {
  width: 100%;
  border-right: 2px dotted black;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.edit {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  gap: 10px;
  margin: 15px;
  padding: 15px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  transition: 0.25s ease-in-out;
}

.editflex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

/* .edit:hover {
    transform: scale(1.02);
  } */

h4 {
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .edit-section {
    width: 100%;
    border-right: 0px;
    border-bottom: 2px dotted black;
  }
}

textarea {
  resize: none;
  font: inherit;
  font-size: 13px;
  height: 70px;
}

.button {
  text-align: right;
}

button {
  color: black;
  border-radius: 5px;
  font: inherit;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.add {
  background: rgb(167, 255, 167);
  font-size: 16px;
  width: 10%;
}

.delete {
  background: rgb(255, 91, 91);
  font-size: 13px;
  width: 8%;
}

button:hover {
  transform: scale(1.15);
}

label {
  font-size: 12px;
  font-weight: bold;
}

.buttondiv {
  text-align: right;
}

.editflex[data-dragging='true'] {
  background-color: rgb(201, 243, 255);
  opacity: 0.5;
  padding: 15px;
}

.workList[data-dragover='true'],
.eduList[data-dragover='true'] {
  background-color: rgb(172, 255, 172);
  border-radius: 10px;
}

.workList[data-wrongdragover='true'],
.eduList[data-wrongdragover='true'] {
  background-color: rgb(255, 67, 67);
  border-radius: 10px;
}

input {
  background: #e3e4e6;
  border-radius: 5px;
  height: 20px;
  border: 0;
}

textarea {
  background: #e3e4e6;
  border-radius: 5px;
  border: 0;
}
