body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background: #f3f4f6;
}

#root {
  height: 100%;
}

header {
  text-align: center;
  height: 7%;
  border-bottom: 1px solid black;
  /* background: #0e374e; */
}

header h1 {
  margin: 0;
  padding: 25px;
}

@media only screen and (max-width: 600px) {
  header h1 {
    padding: 5px;
  }
}
