body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,175,177,1) 53%, rgba(0,212,255,1) 100%); */
}

#root {
  height: 100%;
}

header {
  text-align: center;
  height: 7%;
  border-bottom: 3px solid black;
}

header h1 {
  margin: 0;
  padding: 25px; 
}